<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Channel - [[${channel.channelName}]]</title>
    <script th:src="@{/js/chat.js}"></script>
</head>
<body>
    <h1>[[${channel.channelName}]] Channel</h1>

    <div id="messageContainer">
        <ul>
            <li th:each="message : ${channel.messages}">
                <strong th:text="${message.senderUsername}"></strong>: [[${message.content}]]
            </li>
        </ul>
    </div>

    <div id="chat-window"></div>

    <form th:action="@{/channels/{channelId}/messages(channelId=${channel.id})}" method="post">
        <input type="text" name="content" placeholder="Type your message...">
        <button type="submit">Send</button>
    </form>

    <script th:inline="javascript">
        // Get the channel object from the server-side model
        var channel = /*[[${channel}]]*/ null;

        // Start polling for new messages
        startPolling(channel);
    </script>
</body>
</html>