<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Channel - <span th:text="${channel.name}"></span></title>
    <script src="/js/channel.js" defer></script>
</head>
<body>
    <h1>Channel: <span th:text="${channel.name}"></span></h1>
    <div id="messageContainer">
        <ul>
            <li th:each="message : ${messages}">
                <strong th:text="${message.user.username}"></strong>: <span th:text="${message.content}"></span>
            </li>
        </ul>
    </div>
    <form id="messageForm">
        <input type="text" id="messageInput" placeholder="Type your message..." required>
        <button type="submit">Send</button>
    </form>
    <script th:inline="javascript">
        const channelId = /*[[${channel.id}]]*/ null;
        const username = /*[[${username}]]*/ null;
    </script>
</body>
</html>