<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>General Channel</title>
    <script src="/js/channel.js" defer></script>
</head>
<body>
    <h1>General Channel</h1>

    <div th:if="${error}">
        <p th:text="${error}" style="color: red;"></p>
    </div>

    <div th:if="${channel}">
        <h2 th:text="${channel.name}"></h2>

        <div id="messages-container">
            <!-- Messages will be dynamically added here -->
        </div>

        <form id="message-form" th:action="@{/channels/{channelId}/messages(channelId=${channel.id})}" method="post">
            <input type="text" name="content" placeholder="Message content" required>
            <input type="text" name="username" placeholder="Username" required>
            <button type="submit">Send Message</button>
        </form>
    </div>

   
</body>
</html>