<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.8/dist/purify.min.js"></script>
    <script type="module" src="chat.js"></script>
</head>
<body>
    <div id="messageContainer">
        <!-- Messages will be dynamically added here -->
    </div>
    <form>

        <input type="text" id="messageInput" placeholder="Type your message...">
        <button type="submit" id="submit-btn">Send a message</button>
    </form>

  
</body>
</html>